::selection {
  color: white;
  background-color: var(--accent-color);
}

:root {
  --border-radius: 5px;
  --accent-color: teal;
  --accent-color-light: #a4f0f0;
  --body-font: system-ui, sans-serif;
  --mono-font: ui-monospace, Menlo, Monaco, "Consolas", "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

html {
	-webkit-text-size-adjust: 100%;
}

img {
	max-width: 100%;
  background-image: url("transparent-background.png"); /* for (partially) transparent images */
  background-position: center;
}

body {
	margin: 30px auto;
	font-family: var(--body-font);
	padding: 0 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
  font-size: clamp(1.5rem, 10vw, 2.5rem);
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 5px;
}

h2 {
  font-weight: 500;
}

#drop-zone {
  width: 350px;
  aspect-ratio: 16 / 6;
  background-color: #eee;
  border-radius: var(--border-radius);
  border: 2px dotted #303030;
}

#drop-zone-label {
  font-weight: 500;
  font-size: 1.4em;
  letter-spacing: 0.2px;
  user-select: none;
  pointer-events: none;
  opacity: 0.6;
  text-align: center;
  margin: 0;
  position: relative;
  left: 0px;
  right: 0px;
  top: 80px;
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f7f7f7;
  border-radius: var(--border-radius);
}

.progress .bar {
  width: 0;
  height: 100%;
  background-color: #0e90d2;
  transition: width .4s ease;
}

.progress-danger .bar,.progress .bar-danger {
  background-color: #dd514c;
}

.progress-success .bar,.progress .bar-success {
  background-color: #5eb95e;
}

.progress-warning .bar,.progress .bar-warning {
  background-color: #faa732;
}

@media screen and (prefers-color-scheme: dark) {
  :where(:not(#drop-zone-label)) {
    color: #ddd;
    background-color: #131313;
  }

  #drop-zone-label {
    color: #ddd;
  }

  html {
    color-scheme: dark;
  }

  #drop-zone {
    background-color: #1c1c1c;
  }
}

/* utility classes */
.bg-transparent {
  background-color: transparent !important;
}

.visibility-hidden {
  visibility: hidden;
}

.fade {
  opacity: 0.8;
}